{% extends "base.html" %} 

{% block content %}

<div class="container-fluid p-0" style="height: calc(100vh - 60px); width: 100%; overflow: hidden;">
    
    <iframe 
        title="Dashboard Power BI" 
        width="100%" 
        height="100%" 
        src="https://app.powerbi.com/view?r=eyJrIjoiOTZhOThlYmMtODcxNy00MjQ1LTk0Y2QtZWUxZGI3ZjJhZjU0IiwidCI6IjVmYWMzYWEzLWFhOTMtNGMxMS1iNDQ5LThjY2VhZjZjNjAzMiJ9" 
        frameborder="0" 
        style="border: none;"
        allowFullScreen="true"
        allow="fullscreen; clipboard-read; clipboard-write">
    </iframe>

</div>

{% endblock %}